.header{
    font-family: 'Sansita Swashed', cursive;
    font-size: 5rem;
    text-align: center;
    color:aliceblue;
    margin: 2rem;
}

.square{
    width: 100px;
    height: 100px;
    border: 0;
    background-color: rgb(214, 243, 255);
    color: rgb(0, 22, 119);
    font-size: 2rem;
    border: 1px solid;
    font-weight: bold;
    
}

.square:hover{
    cursor: pointer;
}

.board{
    font-family: sans-serif;
}
.row{
    display: flex;
    justify-content: center;
}

.gameinfo{
    text-align: center;
    margin : 3rem;
    font-size:3.5rem;
    font-weight: bold;
    font-family: 'Domine', serif;
    color: azure;
}

.Git{
    text-align: end;
    font-size: 1.3rem;
    color:gray;
}